[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Robo 3T
Comment=Robo3T
Exec=/usr/local/bin/robo3t/bin/robo3t
Icon=/usr/local/bin/robo3t/robo3t.png
Terminal=false
